.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-color);
}

.card {
  padding: 20px;
  max-width: 400px;
  background-color: #fff;
  border-radius: 15px;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card h2 {
  margin: 0;
}

.card p {
  font-weight: 600;
  color: #848a96;
}

.cardBody {
  padding: 25px;
}