.bgScan {
  background-color: #d5e1ef;
}

.bgScan .card {
  padding: 20px;
  max-width: 400px;
  background-color: #fff;
  border-radius: 15px;
}

.bgScan .card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.bgScan .card h2 {
  margin: 0;
}

.bgScan .card p {
  font-weight: 600;
  color: #848a96;
}

.bgScan .card .cardBody {
  padding: 25px;
}