@import '~@fortawesome/fontawesome-svg-core/styles.css';

.bgRestCountries {
	min-height: 100vh;
}

.flagCard .imgCard {
	height: 180px;
	width: 100%;
	object-fit: cover;
}

@media (min-width: 1600px) {
	.flagCard .imgCard {
		height: 220px;
	}
}