@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

.bgTipCalculator {
    font-family: 'Space Mono', monospace;
}

.bgTipCalculator .card {
    background-color: #fff;
    max-width: 1000px;
    /* border-radius: 15px; */
}

.bgTipCalculator .formGroup {
    position: relative;
}

.bgTipCalculator input::-webkit-outer-spin-button,
.bgTipCalculator input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.bgTipCalculator input[type=number] {
    -moz-appearance: textfield;
}

.bgTipCalculator input::placeholder {
    color: #9ebbbd;
}

.bgTipCalculator .formGroup svg {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}